{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}


{% block title %}Главная{% endblock %}
<
{% block content %}
<div class="hero-wrap">
	    <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image:url( {% static 'images/bg_1.jpg' %})">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-start">
		          <div class="col-md-6 ftco-animate">
		          	<div class="text w-100">
		          		<h2>Мы лучшие услуги по ремонту автомобилей</h2>
			            <h1 class="mb-4">ваш автомобиль прослужит дольше</h1>
                         {% if user.is_authenticated %}
			            <p><a href="{% url 'main:add_order' %}" class="btn btn-primary">Записаться</a></p>
                        {% endif %}
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>


	      <div class="slider-item" style="background-image:url({% static 'images/bg_2.jpg' %})">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-start">
		          <div class="col-md-6 ftco-animate">
		          	<div class="text w-100">
		          		<h2>Мы заботимся о вашей машине</h2>
			            <h1 class="mb-4">Пришло время ремонта вашего автомобиля</h1>
                         {% if user.is_authenticated %}
			            <p><a href="{% url 'main:add_order' %}" class="btn btn-primary">Записаться</a></p>
                        {% endif %}
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>
	    </div>
	  </div>

     {% if user.is_authenticated %}
		<section class="intro">
			<div class="container intro-wrap">
				<div class="row no-gutters">
					<div class="col-md-12 col-lg-9 bg-intro d-sm-flex align-items-center align-items-stretch">
						<div class="intro-box d-flex align-items-center">
							<div class="icon d-flex align-items-center justify-content-center">
								<i class="flaticon-repair"></i>
							</div>
							<h2 class="mb-0">Вы готовы? <span>Давай починим ваш автомобиль</span></h2>
						</div>
						<a href="{% url 'main:add_order' %}" class="bg-primary btn-custom d-flex align-items-center"><span>Записаться</span></a>
					</div>
				</div>
			</div>
		</section>
    {% endif %}


    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5 mb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
          	        <span class="subheading">МЫ ПРЕДЛАГАЕМ УСЛУГИ</span>
                    <h2>Наши автомобильные услуги</h2>
                </div>
            </div>

            <div class="row">
                {%  for item in cat %}
                <div class="col-md-4 services ftco-animate">
                    <div class="d-block d-flex">
                        <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-service"></span>
                        </div>
                        <div class="media-body pl-3">
                            <h3 class="heading">{{ item.title }}</h3>
                            <p class="text-dark" style="font-size: 14px">{{ item.content }}.</p>
                            <p class="text-info">от {{ item.price }} руб.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}